{% extends "admin/layout-admin.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a href="#articles" data-toggle="tab">Articles</a></li>
            <li><a href="#comments" data-toggle="tab">Commentaires</a></li>
            <li><a href="#newsletter" data-toggle="tab">Newsletter</a></li>
        </ul>
    </div>
</div>
<div class="tab-content">
    <div class="tab-pane fade in active adminTable" id="articles">
        {% if articles %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Contenu</th>
                        <th></th>  <!-- Actions column -->
                    </tr>
                </thead>
                {% for article in articles %}
                <tr>
                    <td><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
                    <td>{{ article.content | truncate(60) | raw }}</td>
                    <td>
                        <a href="{{ path('admin_article_edit', { 'id': article.id }) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#articleDialog{{ article.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="articleDialog{{ article.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Suppression</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous vraiment supprimer cet article ? 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_article_delete', { 'id': article.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Aucun article.</div>
        {% endif %}
        <a href="{{ path('admin_article_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Ajouter un article</button></a>
    </div>

    <div class="tab-pane fade adminTable" id="comments">
        
       {% if comsReports %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <h3>Commentaires signalés</h3>
                    <tr>
                        <th>Article</th>
                        <th>Auteur</th>
                        <th>Contenu</th>
                    </tr>
                </thead>
                {% for comReport in comsReports %}
                <tr>
                    <td><a class="articleTitle" href="{{ path('article', { 'id': comReport.article.id }) }}">{{ comReport.article.title }}</a></td>
                    <td>{{ comReport.author }}</td>
                    <td>{{ comReport.content | truncate(15) }}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comReport.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="commentDialog{{ comReport.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Suppression d'un commentaire</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous vraiment supprimer ce commentaire ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_comment_delete', { 'id': comReport.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Aucun commentaire signalé.</div>
        {% endif %}


        {% if comments %}
        <div class="table-responsive">
            <table class="table table-hover table-condensed">
                <thead>
                    <h3>Commentaires</h3>
                    <tr>
                        <th>Article</th>
                        <th>Auteur</th>
                        <th>Contenu</th>
                    </tr>
                </thead>
                {% for comment in comments %}
                <tr>
                    <td><a class="articleTitle" href="{{ path('article', { 'id': comment.article.id }) }}">{{ comment.article.title }}</a></td>
                    <td>{{ comment.author }}</td>
                    <td>{{ comment.content | truncate(15) }}</td>
                    <td>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#commentDialog{{ comment.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="commentDialog{{ comment.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">Suppression d'un commentaire</h4>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous vraiment supprimer ce commentaire ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('admin_comment_delete', { 'id': comment.id }) }}" class="btn btn-danger">Confirmer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        {% else %}
        <div class="alert alert-warning">Aucun Commentaire.</div>
        {% endif %}
        
    </div>

    <div class="tab-pane fade adminTable" id="newsletter">
        <h3>Newsletter</h3>
        <p>Il y a {{ subscribers }} inscrits à la newsletter</p>
        <a href="{{ path('admin_newsletter_add') }}"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Envoyer une newsletter </button></a>
    </div>
    
</div>
{% endblock %}
