{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<p>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>
    <h3>Commentaires</h3>
    {% for comment in comments %}
        <strong>{{ comment.author }}</strong> dit : {{ comment.content }}<br>
    {% else %}
        Pas de commentaires.
    {% endfor %}

    <h3>Ajouter un commentaire</h3>
</p>
{% endblock %}