{% extends "layout.html.twig" %}

{% block title %}Blog{% endblock %}

{% block content %}

{% for article in articles %}
	<div class="article">
    	<article>
        	<h2><a class="articleTitle" href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></h2>
      
        	<p>Publié le {{article.date}}</p>

        	<p>{{ article.content | truncate(500) | raw }}</p>

        	<a class="btn btn-primary" href="{{ path('article', { 'id': article.id }) }}">Lire la suite...</a>
    	</article>
	</div>
{% endfor %}
{% endblock %}
        