{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}

<!-- Carousel -->

<div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
        <li data-target="#carousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner height-img">
        {% for slide in latestArticles %}
            <div class="item {% if counter == 1 %} {% set text = 'active' %} {{text}} {% endif %} ">
                        
                                <img alt"Alaska" src="{% if counter == 1 %} {{ asset('img/alaska.jpeg') }} 
                                {% elseif counter == 2 %} {{ asset('img/alaska-glacier-ice-mountains.jpg') }}
                                {% elseif counter == 3 %} {{ asset('img/wood-landscape-mountains-nature.jpg') }}
                                {% else %} {{ asset('img/alaska4.jpeg')}}
                                {% endif %}">
                        
                <a href="{{ path('article', { 'id': slide.id }) }}">
                    <h1 class="carousel-caption">{{ slide.title }}</h1>
                </a>
                
            </div>
            {% set counter = counter + 1 %}
        {% endfor %}

        </div>
        
        <a class="left carousel-control" href="#carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>


    
    <!-- Bloc présentation -->
    <div class="jumbotron">
    <h2>Présentation de l'auteur</h2>

    <p><img class="jprofil" src="{{ asset('/img/jeanf.jpeg')}}" /></p>
    <p>Bonjour et bienvenue sur mon site ! Je m'appelle Jean Forteroche, je suis acteur et écrivain.</p>
    <h4>Mon projet</h4>
    
    <p>Depuis quelques temps maintenant, j'ai commencé l'écriture de mon nouveau roman "Billet simple pour l'Alaska".<br /> Cependant, j'ai voulu innover en publiant mon roman sur mon blog.<br />
    Le fonctionnement est très simple, je publie régulièrement par "épisode", des petits chapitres de mon roman.</p>
    <p>Vous pouvez consulter les premiers épisodes <a href="blog">ici</a> !</p>
    
    <div class="clearfix">
        <h4>Être au courant des dernières publications ?</h4>
        <p>Il suffit de descendre tout en bas de cette page. Vous trouverez une partie <strong>"Newsletter"</strong>.<br /> Il vous suffira alors de renseigner les coordonnées demandés et vous recevrez ensuite un mail lorsqu'un épisode sera publié,<br /> de même lorsque je voudrais contacter, informer mes lecteurs je le ferais par ce biais ou par le blog directement.</p>
    </div>

    <h4>Me suivre, me contacter ?</h4>
    <p>Pour me suivre sur les différents réseaux sociaux, vous pouvez cliquer sur les différents logos en bas de la page.
    <br /> Pour me contacter, il vous suffit de vous rendre sur la page <a href="contact">contact</a> de mon site. <br />Vous devrez remplir un formulaire de contact avec vos coordonnées et votre message.</p>
    </div>

    {% endblock %}
      