<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ asset('/lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('/css/blog.css') }}" rel="stylesheet">
        <title>Jean Forteroche - {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('home') }}">Jean Forteroche</a>
                    </div>
                    
                    <div class="collapse navbar-collapse" id="navbar-collapse-target">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Accueil</a></li>
                            <li><a href="/blog"><i class="fa fa-book" aria-hidden="true"></i> Blog</a></li>
                            <li><a href="/contact"><i class="fa fa-envelope-o" aria-hidden="true"></i> Contact</a></li>
                            </ul>

    
                             

                            <ul class="nav navbar-nav navbar-right">
                                {% if app.user and is_granted('ROLE_ADMIN') %}
                            <li class="{% if adminMenu is defined %}active{% endif %}"><a href="{{ path('admin') }}"><span class="glyphicon glyphicon-cog"></span> Administration</a></li>
                            {% endif %}
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> Bonjour, {{ app.user.username }} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('logout') }}">Se déconnecter</a></li>
                                </ul>
                            </li>
                        {% endif %}
                        </ul>
                    </div>
                    </div><!-- /.container -->
                </nav>
                
                
                <div id="content">{% block content %}{% endblock %}</div>
                
                <footer class="footer">
                    <div class="row">
                        <div class="col-sm-3">
                            <h3>Liens de navigation</h3>
                            <ul>
                                <li><a href="/">Accueil</a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/contact">Contact</a></li>
                            </ul>
                        </div>
                        
                        <div class="col-sm-3">
                            <h3>Les derniers épisodes</h3>
                            <ul>
                                {% for article in articles %}
                                    <li><a href="{{ path('article', { 'id': article.id }) }}">{{article.title}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-sm-3">
                            <h3>Me suivre sur les réseaux sociaux</h3>
                            
                            <a href="http://facebook.com"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
                            <a href="http://twitter.com"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                            <a href="http://googleplus.com"><i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i></a>
                            <a href="http://flickr.com"><i class="fa fa-flickr fa-2x" aria-hidden="true"></i></a>
                            
                        </div>
                        <div class="col-sm-3">
                            <h3>Newsletter</h3>
                            <form action="" method="POST">
                                
                                <div class="form-group">
                                    <input id="mail" type="mail" class="form-control" placeholder="adresse@mail.com">
                                </div>
                                <div class="form-group">
                                    <input id="text" type="text" class="form-control" placeholder="Votre prénom" />
                                </div>
                                <button class="btn btn-primary">S'inscrire</button>
                            </form>
                            
                        </div>
                    </div>
                </footer>
            </div>
        <script src="{{ asset('lib/jquery/jquery.min.js') }}"></script>
        <script src="{{ asset('lib/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="https://use.fontawesome.com/d31962f2d2.js"></script>
    </body>
</html>
